@{
    ViewData["Title"] = "Home Page";
}

<!-- Add CSS to set the background color -->
<style>
    body {
        background-color: lightblue; /* You can use any valid color value */
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to my channel This is Madhu</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <!-- Placeholder image 1 -->
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fpngtree.com%2Ffreebackground%2Fsunset-nature-landscape-with-big-tree_1169054.html&psig=AOvVaw0-TkaOEHlsjhBpw50en8-_&ust=1696687950699000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCPjLsqnN4YEDFQAAAAAdAAAAABAE" alt="Image 1 Description">

    <!-- Placeholder image 2 -->
    <img src="https://via.placeholder.com/300x200?text=Image+2" alt="Image 2 Description">

    <!-- Placeholder image 3 -->
    <img src="https://via.placeholder.com/300x200?text=Image+3" alt="Image 3 Description">
</div>
