@{
    ViewData["Title"] = "Home Page";
}

<!-- Add CSS to set the background color -->
<style>
    body {
        background-color: lightblue; /* You can use any valid color value */
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to my channel This is Madhu</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <!-- Placeholder image 1 -->
    <img src="https://www.flickr.com/photos/1959dr/52609728240/in/dateposted/" alt="Image 1 Description">

    <!-- Placeholder image 2 -->
    <img src="https://www.flickr.com/photos/rzleytheshoots_jr/53223173526/in/dateposted/" alt="Image 2 Description">

</div>
